name: QA

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - run: npm ci --prefer-offline
      - run: npm run lint
      - run: npm run typecheck

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - uses: actions/setup-java@v5
        with:
          distribution: "adopt" # See 'Supported distributions' for available options
          java-version: "11"
      - run: npm ci --prefer-offline
      - run: npx firebase emulators:exec "npm run coverage"
      - uses: codecov/codecov-action@v5
